@page
@model BankStartWeb.Pages.CustomerModel
@{
}
@{
    decimal sum = 0;
}

<div class="container2">
    <div class="row d-flex justify-content-center  ">
        <div class="col-xl-5 ">
            <div class="bg-white p-5 rounded mt-5 ">
                <div class="d-flex mt-4">
                    <a class="btn-primary btn-round p-1 justify-content-center" asp-page="/CustomerPages/Customers">Return to Customers</a>
                    
                </div>
                <div class="d-flex mt-4">
                    <a class="btn-primary btn-round p-1 justify-content-center" asp-page="/CustomerPages/EditCustomer" asp-route-customerId="@Model.EditCustomerId">Change information</a>
                </div>
                <h1>
                    <strong>Customer</strong> @Model.Customer.Givenname @Model.Customer.Surname
                </h1>
                <p>
                    <strong>Address:</strong> @Model.Customer.Streetaddress
                </p>
                <p>
                    <strong>City:</strong> @Model.Customer.City
                </p>
                <p>
                    <strong>Zip:</strong> @Model.Customer.Zipcode
                </p>
                <p><strong>Country</strong>: @Model.Customer.Country</p>
                <p>
                    <strong>Country code:</strong> @Model.Customer.CountryCode
                </p>
                <p>
                    <strong>NationalId:</strong>@Model.Customer.NationalId
                </p>
                <p>
                    <strong>Telephone number:</strong> @Model.Customer.Telephone
                </p>
                <p>
                    <strong>Birth date:</strong> @Model.Customer.Birthday
                </p>
                <p>
                    <strong>Email Address:</strong> @Model.Customer.EmailAddress
                </p>


                <table class="table table-sm">

                    <tr>
                        <th>Account Number</th>
                        <th>Account type</th>
                        <th>Account balance</th>
                        <th>Account created</th>
                    </tr>


                    @foreach (var account in Model.Accounts)
                    {
                        sum += account.Balance;
                        <tr>
                            <td>
                                <a asp-page="/CustomerPages/Transactions" asp-route-customerId="@account.CustomerId" asp-route-accountId="@account.Id">@account.Id</a>
                            </td>
                            <td>@account.AccountType</td>
                            <td>@account.Balance</td>
                            <td>@account.Created</td>
                        </tr>
                    }
                    <h1>Total Balance: <span>@sum.ToString("C")</span></h1>
                </table>

            </div>

        </div>
    </div>
</div>