@page "{handler?}"
@model BankStartWeb.Pages.TransactionsModel
@{
}


<a class="btn-primary btn-round p-2 d-flex justify-content-center" asp-page="/CustomerPages/Customer" asp-route-customerId="@Model.CustomerReference">Return to customer</a>
<div class="container lg w-100">
    <div class="row d-flex justify-content-center ">
        <div>
            <div class="bg-white p-5 rounded mt-5 ">
                
                <a class="btn btn-primary btn-round mr-2 mb-5" asp-page="/TransactionPages/Deposit" asp-route-customerId="@Model.CustomerReference" asp-route-accountId="@Model.AccountId">Deposit</a>
                <a class="btn btn-primary btn-round mx-2 mb-5" asp-page="/TransactionPages/Withdrawal" asp-route-customerId="@Model.CustomerReference" asp-route-accountId="@Model.AccountId">Withdrawal</a>
                <a class="btn btn-primary btn-round mx-2 mb-5" asp-page="/TransactionPages/Transfer" asp-route-customerId="@Model.CustomerReference" asp-route-accountId="@Model.AccountId">Transfer</a>

                <h1>Transactions</h1>
                <h4>Account number: @Model.Account.Id</h4>
                <h4>Current Balance: @Model.Account.Balance</h4>
                <h3>Latest Transactions</h3>
                <table class="table table-sm" id="posts-table">
                    <thead>
                    <tr>
                        <th>Card type</th>
                        <th>Date</th>
                        <th>Transaction type</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <a class="btn btn-primary btn-round" href="javascript:fetchMore();">More transactions</a>

            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>

    pageNo = 1;
    function fetchMore() {
        fetch("Transactions?handler=FetchMore&pageNo=" + pageNo + "&accountId=@Model.AccountId")
            .then((response) => response.json())
            .then((json) => {
                    pageNo = pageNo + 1;
                    json.items.forEach(tableElements);
                }
            );
    }
    function tableElements(element) {
        document.querySelector('#posts-table tbody').innerHTML +=
            `<tr>
        <td>${element.type}</td>
        <td>${element.date}</td>
        <td>${element.operation}</td>
        <td>${element.amount}</td>
        <td>${element.newBalance}</td>
    </tr>`;
        }
        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });
    </script>    
}
