@page
@model BankStartWeb.Pages.TransactionsModel
@{
}
<h1>Transactions</h1>
<h4>Account number: @Model.Account.Id</h4>
<h4>Current Balance: @Model.Account.Balance</h4>
<h3>Latest Transactions</h3>
<table class="table">
    <tr>

        <th>Card type</th>
        <th>Date</th>
        <th>Transaction type</th>
        <th>Amount</th>
        <th>Balance</th>
        
    </tr>
    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Type</td>
            <td>@transaction.Date</td>
            <td>@transaction.Operation</td>
            <td>@transaction.Amount</td>
            <td>@transaction.NewBalance</td>
            
        </tr>
    }
    
</table>
  
    <a asp-page="/CustomerPages/Customer" asp-route-customerId ="@Model.CustomerReference">Back to customer</a>
 

